@mixin border($top: 0, $right: 0, $bottom: 0, $left: 0){
    border-top: solid #{$top}px $black_color;
    border-right: solid #{$right}px $black_color;
    border-bottom: solid #{$bottom}px $black_color;
    border-left: solid #{$left}px $black_color;
}

@mixin rockstar($size: 30){
    font-family: "rockstar", "impact";
    font-size: #{$size}px;
    letter-spacing: 8%;
}

@mixin archia($size: 18){
    font-family: "archia";
    font-size: #{$size}px;
    line-height: 135%;
    font-style: normal;
}

@mixin scroll-left($time: 10){
    animation: scroll-left infinite #{$time}s linear;
}

@mixin scroll-right($time: 10){
    animation: scroll-right infinite #{$time}s linear;
}